/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis globais */
:root {
    --cinza-claro: #e6e6e6;
    --preto: #000000;
    --preto-escuro: #232222;
    --preto-mais-claro: #1b0c0c;
    --vermelho-alaranjado: #E09292;
    --branco: #ffffff;
}

/* Layout */
.container,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    background-image: url('port.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    text-align: center;
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

header h1 {
    color: var(--preto);
    font-size: 1.25rem;
    margin: 30px 0 10px 0;
}

header h2 {
    color: var(--preto);
    font-size: 1.4rem;
    font-style: italic;
    margin-top: 7%;
    margin-bottom: 60px;
}

/* Conteúdo principal */
main a {
    background-color: var(--vermelho-alaranjado);
    width: 200px;
    height: 60px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--preto);
    text-align: center;
    line-height: 60px;
    border-radius: 50px;
}

/* Rodapé */
footer {
    margin-top: 20px;
}

footer img {
    margin: 0 5px;
}